/* CSS for write_home */
        body {
            background-color: #212227;
        }
            header {
            background-color: #f18556;
            padding: 20px;
            text-align: left;
            border-radius: 5px;
        }
            header h1 {
            color: #212227;
            margin: 0;
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: left;
        }
        h1 {
            color: #212227;
            margin: 0;
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
        }
        #windowContainer {
                display: flex;
            }
        #writeOnWall,#rulesSection {
            width: 50%;
            border-right: 10px solid #212227;
            box-sizing: border-box;
            height: 500px;
        }
        ol {
            color: #212227;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            font-size: 12px;
            font-weight: bold;
            word-wrap: break-word;
            width: 100%; 
            height: 100%; 
            box-sizing: border-box; 
            resize: none; 
        }
        #rulesSection {
            background-color: #f5ec6d;
            padding: 30px;
            margin-top: 20px;
            width: 50%;
            height: 250px; 
            position: relative;
            border-right: none;
            border: 2px solid #f5ec6d;
            box-sizing: border-box;
            flex: 1;
        }
        nav {
            margin-top: 10px;
        }
        nav a {
            color: #212227; 
            text-decoration: none; 
            margin: 15px; 
            font-size: 16px; 
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: left;
        }
        #writeOnWall {
            background-color: #f5ec6d;
            padding: 30px;
            margin-top: 20px;
            width: 50%;
            height: 250px; 
            position: relative;
        }
        #writeOnWall h2 {
            color:#212227;
            font-size: 24px;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        #userInput {
            background-color: #ffffff;
            color: #6d6460;
            width: 100%; 
            height: 100%; 
            box-sizing: border-box; 
            resize: none; 
            border: 1px solid #ccc;
        }
        #submitBtn {

            background-color: #212227;
            color: #ffffff;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        footer {
            background-color: #f18556;
            padding: 20px;
            text-align: center;
            margin-top: 9%;
            border-radius: 5px;
        }
        footer h1 {
            color: #FFFFFF;
            margin: 0;
            font-size: 15px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }